<div class="posts">
  <% @posts.each do |post| %>
    <%= post.title %>
  <% end %>
</div>
<%= form_tag posts_path, method: :post do %>
    <input name="title" />
    <input name="content" />
    <input type="submit">
<% end %>
<% if @errors.present? %>
    <% @errors.each do |error| %>
        <%= error %>
    <% end %>
<% end %>
